<%- include("header") -%> 
    <!-- EXTRA STUFF -->
    <!-- changes h1 style depending on day -->
    <%/* %> <% if (currDay === "SATURDAY" || currDay === "SUNDAY") { %>
    <h1 style="color: red"><%= currDay %> LIST</h1>
    <% } else { %>
    <h1 style="color: blue"><%= currDay %> LIST</h1>
    <% } %> <% */ %>

    <!-- ACTUAL VISIBLE BODY -->
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>

    <div class="box">
      <!-- we can list these with app.js by addint them to the task array -->
      <!-- <li>Buy Food</li>
            <li>Cook Food</li>
            <li>Eat food</li> -->

      <!-- add new task by going through newListItem array -->
      <% newListItem.forEach(item => { %>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
            <input type="hidden" name="listName" value="<%= listTitle %>">
            <p><%= item.name %></p>
          </div>
        </form>
      <% }) %>

      <form class="item" action="/" method="POST">
        <input type="text" name="newTask" placeholder="New Task" autocomplete="off"/>
        <button class="btn" type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
    </div>

<%- include("footer") -%> 